<div class="container" ALIGN="right" >
  <button style="margin:10px" type="button" class="btn btn-dark"  routerLink= "/login" (click)=cerrarSesion() >Cerrar Sesion</button>
</div>
<div class="container">
  <!--Barra de navegacion-->
  <nav class="navbar navbar-dark bg-dark" style=" border-radius: 15px;">
    <a class="nav-link" style="color: aliceblue;" routerLink= "/dashboard">Inicio</a>
    <a class="nav-link" style="color: aliceblue;" routerLink= "/pedidos">Pedidos</a>
    <a class="nav-link" style="color: aliceblue;" routerLink= "/repartidores">Repartidores</a>
    <a class="nav-link" style="color: aliceblue;" routerLink= "/agregarRepartidor">Agregar Repartidor</a>
    <a class="nav-link" style="color: aliceblue;" routerLink= "/agregarZona">Agregar Zona</a>
    <a class="nav-link" style="color: aliceblue;" routerLink= "/agregarVehiculo">Agregar Vehiculo</a>
</nav>
</div>  
<div class=container >

    <h2>Pedidos</h2>
    <input style="margin:10px" type="text" class="form-control" name= "filterPed" placeholder="Buscar Pedido (Nombre Cliente)" [(ngModel)]="filterPed">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col"><p ALIGN="center">Codigo</p></th>
              <th scope="col"><p ALIGN="center">Nombre de Cliente</p></th>
              <th scope="col"><p ALIGN="center">Ya Entregado</p></th>
              <th scope="col"><p ALIGN="center">Monto</p></th>
              <th scope="col"><p ALIGN="center"> </p></th>
            </tr>
          </thead>
          <tbody *ngFor='let pedido of pedidos | filterPedidos: filterPed'>
                    <td scope="row" *ngIf='asignada(pedido.id)'><p ALIGN="center">{{pedido.id}}</p></td>
                    <td><p ALIGN="center" *ngIf='asignada(pedido.id)'>{{pedido.nombreCliente}}</p></td>
                    <td><p ALIGN="center" *ngIf='asignada(pedido.id)'>{{pedido.entregado}}</p></td>
                    <td><p ALIGN="center"  *ngIf='asignada(pedido.id)'>{{pedido.monto}}</p></td>
                    <button style="margin:10px" type="button" class="btn btn-primary"  routerLink="/detallePedido/{{pedido.id}}" *ngIf='asignada(pedido.id)'>Detalle</button>
          </tbody> 
    </table>

</div>
