<div class="container" ALIGN="right" >
    <button style="margin:10px" type="button" class="btn btn-dark"  routerLink= "/login" (click)=cerrarSesion() >Cerrar Sesion</button>
</div>
<div class="container">
    <!--Barra de navegacion-->
    <nav class="navbar navbar-dark bg-dark" style=" border-radius: 15px;">
        <a class="nav-link" style="color: aliceblue;" routerLink= "/dashboard">Inicio</a>
        <a class="nav-link" style="color: aliceblue;" routerLink= "/pedidos">Pedidos</a>
        <a class="nav-link" style="color: aliceblue;" routerLink= "/repartidores">Repartidores</a>
        <a class="nav-link" style="color: aliceblue;" routerLink= "/agregarRepartidor">Agregar Repartidor</a>
        <a class="nav-link" style="color: aliceblue;" routerLink= "/agregarZona">Agregar Zona</a>
        <a class="nav-link" style="color: aliceblue;" routerLink= "/agregarVehiculo">Agregar Vehiculo</a>
</nav>
</div>  
<div>
    <div class="container" ALIGN="center" >
        <button style="margin:10px" type="button" class="btn btn-dark"  routerLink= "/asignarEntrega">Asignar nueva Entrega</button>
    </div>
</div>