<div class=container >
      <h2>Productos Pedidos</h2>
  
      <table class="table table-striped table-hover">
          <thead>
              <tr>
                <th scope="col"><p ALIGN="center">Nombre</p></th>
                <th scope="col"><p ALIGN="center">Valor</p></th>
                <th scope="col"><p ALIGN="center">Pedido(id)</p></th>
              </tr>
            </thead>
            <tbody *ngFor='let producto of productos'>
  
                      <td><p ALIGN="center">{{producto.nombre}}</p></td>
                      <td><p ALIGN="center">{{producto.valor}}</p></td>
                      <td><p ALIGN="center">{{producto.idPedido}}</p></td>
  
              </tbody>
      </table>
  </div>